*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: brown;
    font-weight: 700;

    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    
}

#h1{
    background-size: auto;
}
#h1{
    background-repeat: no-repeat;
}
